<div class="row mb-4 list-group-item">
  <div class="card">
    <h2 class="card-header">
      <a class="post-title" id="{{id}}" href="/post/{{id}}">{{title}}</a>
    </h2>
    <p class="card-body">
      {{content}}
    </p>
    <div class="card-footer">
    <p >Created by {{user.name}} on {{format_date date_created}}</p>
    {{#if isCreator}}
      <button class='btn my-5 btn-sm btn-danger' data-id='{{id}}'>DELETE</button>
    {{/if}}
    </div>
  </div>
</div>